*.mp4
!video/hero-16x9.mp4
2AhHV.jpg
2qNHN.jpg
4UBPa.jpg
8bAE8.jpg
9jAz6.jpg
AjYLZ.jpg
BxKgl.jpg
CiDql.jpg
ExwO6.jpg
GqStU (1).jpg
GqStU.jpg
HDzes.jpg
IF3HN.jpg
JhMF1.jpg
KWb0t.jpg
OGiWo.jpg
OJfCs.jpg
PlBOb.jpg
T0o5H.jpg
W3WZO.jpg
aTK5X.jpg
cg1os.jpg
cjsQN.jpg
fire.jpg
jhgYZ.jpg
kFcf8.jpg
mdYF3.jpg
tfJZk.jpg
wyL6z.jpg
zGN2j.jpg

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
